{% extends "book/base.html" %}
{% block title %}Libros{% endblock %}
{% block js_code %}{% endblock %}
{% block content %}
<h2>Libro</h2>
<form method="post" action="" width="400px"  enctype='multipart/form-data'>
  {% csrf_token %}
  <br>
  {{ BookForm.errors }}
  <div style="text-align:left;">
    <span class="span3" style="clear:both;">
      codigo
      {{ BookForm.code }}
    </span>
      <span class="span3" style="clear:both;">
        nombre
      {{ BookForm.name }}
    </span>
      <span class="span3" style="clear:both;">
        Imagen
      {{ BookForm.image }}
    </span>
    <span class="span3" style="clear:both;">
      {{ BookForm.book_classification }}
    </span>
    <span class="span3" style="clear:both;">
      {{ BookForm.book_subclassification }}
    </span>

    <span class="span3" style="clear:both;">
      {{ BookForm.autor }}
    </span>
    <span class="span3" style="clear:both;">
      {{ BookForm.volume }}
    </span>
    <span class="span3" style="clear:both;">
      {{ BookForm.exemplar }}
    </span>
    <span class="span3" style="clear:both;">
      {{ BookForm.editorial }}
    </span>
    <span class="span3" style="clear:both;">
      {{ BookForm.description }}
    </span>
    <span class="span3" style="clear:both;">
      {{ BookForm.location }}
    </span>
    <span class="span3" style="clear:both;">
      {{ BookForm.donor }}
    </span>
  </div>
  <br>
  <p class="form-actions" style="clear:both;">
    <input type="submit" class="btn btn-primary" value="Guardar y Salir" />
  </p>  
</form>
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}