{% extends "loan/base.html" %}
{% block style_css %}
<link rel='stylesheet' href='{{STATIC_URL}}css/redmond/jquery-ui-1.8.23.custom.css'/>
{% endblock %}
{% block js_code %}
 <script>  
  $(document).ready(function() {
    $(".btnPrint").printPage();
    $('#id_start').datetimepicker({ dateFormat: 'yy-mm-dd',});
    $('#id_end').datetimepicker({ dateFormat: 'yy-mm-dd',});
    $(".btnPrint").attr("href",'/loansReportR/?start='+ encodeURIComponent($('#id_start').attr("value"))+'&end='+ encodeURIComponent($('#id_end').attr("value"))+ '&_btn=Search');

    $(".btnPrint").attr("href",'/loansReportR/?start='+ encodeURIComponent($('#id_start').attr("value"))+'&end='+ encodeURIComponent($('#id_end').attr("value"))+ '&_btn=Search');

    $('#id_start').change(function() {
    	$(".btnPrint").attr("href",'/loansReportR/?start='+ encodeURIComponent($('#id_start').attr("value"))+'&end='+ encodeURIComponent($('#id_end').attr("value"))+ '&_btn=Search');
    });

  });
  </script>
{% endblock %}
{% block title %}Clacificaciones{% endblock %}
{% block content %}

<div class="report">
	<div >
		<div class="span4">
			<img class="span4" id="logo" src='{{STATIC_URL}}img/logotipocnca.jpg'/>
		</div>
		<div span="span6">
			<form action="/loansReport/" method="get">
				<input id="id_start" name="start" class="span2" type="text" value="{{ fechaInicio }}"></input>
				<input id="id_end" name="end" class="span2" type="text" value="{{ fechaFin }}"></input>
				<input class="btn " type="submit" name="_btn" value="Search">
				<a class="btn btnPrint" href="" id="btnPrint">Imprimir Reporte</a>
			</form>
		</div>
	</div>
	<div class="titlecenter">
		<h6>RED NACIONAL DE BIBLIOTECAS PÚBLICAS</h6>
		<h6>ESTADISTICA MENSUAL</h6>
	</div>
	<table class="table reportTable smallText">
		<tr>
			<td class="labelR">BIBLIOTECA</td>
			<td class="reportData"> ABRAM GONZALEZ</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="labelR">TIPO DE BIBIOTECA</td>
			<td class="reportData"> PUBLICA</td>
			<td class="labelR">INSTITUCIÓN</td>
			<td class="reportData"></td>
		</tr>
		<tr>
			<td  class="labelR">LOCALIDAD</td>
			<td class="reportData"> ANAHUAC</td>
			<td  class="labelR">MUNICIPIO</td>
			<td class="reportData"> CUAUHTEMOC</td>
		</tr>
		<tr>
			<td  class="labelR">ESTADO</td>
			<td class="reportData"> CHIHUAHUA</td>
			<td  class="labelR">ENCARGADO(A)</td>
			<td class="reportData"> ARACELI VEGA JUAREZ</td>
		</tr>
		<tr>
			<td  class="labelR">MES QUE REPORTA</td>
			<td class="reportData"></td>
			<td  class="labelR">FECHA DE ELABORACIÓN</td>
			<td class="reportData">{{fechaActual}}</td>
		</tr>
	</table>
	<table class="table reportTable smallText">
		<tr>
			<td colspan="4"><h6 class="titlecenter">USUARIOS ATENDIDOS<h6></td>
		</tr>
		<tr>
			<td  class="labelR">ADULTOS MAYORES (60 EN ADELANTE)</td>
			<td class="reportData">{{ mayores }}</td>
			<td  class="labelR">NIÑOS PREESCOLARES (3 A 5 AÑOS)</td>
			<td class="reportData">{{ preescolar }}</td>
		</tr>
		<tr>
			<td  class="labelR">ADULOS (19 A 59 AÑOS)</td>
			<td class="reportData">{{ adultos }}</td>
			<td  class="labelR">USUARIOS CON CAPACIDADES DIFERENTES</td>
			<td class="reportData"></td>
		</tr>
		<tr>
			<td  class="labelR">JÓVENES (13 A 19 AÑOS)</td>
			<td class="reportData"> {{ jovenes }}</td>
			<td  class="labelR">DIFERENTES</td>
			<td class="reportData"></td>
		</tr>
		<tr>
			<td  class="labelR">NIÑOS (6 A 12 AÑOS)</td>
			<td class="reportData">{{ ninos }}</td>
			<td  class="labelR">TOTAL DE USUARIOS</td>
			<td class="reportData"></td>
		</tr>
		<tr>
			<td colspan="4"><h6 class="titlecenter">LIBROS CONSULTADOS<h6></td>
		</tr>
		<tr>
			<td  class="labelR">COLECCIÓN CONSULTA</td>
			<td class="reportData">{{ consulta }}</td>
			<td  class="labelR">COLECCIÓN INFANTIL</td>
			<td class="reportData">{{ infantil }}</td>
		</tr>
		<tr>
			<td  class="labelR">COLECCIÓN GENERAL</td>
			<td class="reportData">{{ general }}</td>
			<td  class="labelR">MATERIAL AUDIOVISUAL</td>
			<td class="reportData">{{ audiovisual }}</td>
		</tr>
		<tr>
			<td  class="labelR">MATERIAL PARA DEBILES VICUALES E INVIDENTES</td>
			<td class="reportData">{{ debilesvisuales }}</td>
			<td  class="labelR">TOTAL DE ACERVO CONSULTADO</td>
			<td class="reportData"></td>
		</tr>
		<tr>
			<td colspan="4"><h6 class="titlecenter">SERVICIO DE PRÉSTAMO A DOMICILIO<h6></td>
		</tr>
		<tr>
			<td  class="labelR">CREDENCIALES EXPEDIDAS</td>
			<td class="reportData"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td  class="labelR">LIBROS PRESTADOS A DOMICILIO</td>
			<td class="reportData"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="4"><h6 class="titlecenter">ACTIVIDADES DE FOMENTO DE LA LECTURA<h6></td>
		</tr>
		<tr>
			<td  class="labelR">ADULTOS MAYORES (60 EN ADELANTE)</td>
			<td class="reportData"></td>
			<td  class="labelR">ASISTENTES</td>
			<td class="reportData"></td>
		</tr>
		<tr>
			<td  class="labelR">ADULOS (19 A 59 AÑOS)</td>
			<td class="reportData"></td>
			<td  class="labelR">ASISTENTES</td>
			<td class="reportData"></td>
		</tr>
		<tr>
			<td  class="labelR">JÓVENES (13 A 19 AÑOS)</td>
			<td class="reportData"></td>
			<td  class="labelR">ASISTENTES</td>
			<td class="reportData"></td>
		</tr>
		<tr>
			<td  class="labelR">NIÑOS (6 A 12 AÑOS)</td>
			<td class="reportData"></td>
			<td  class="labelR">ASISTENTES</td>
			<td class="reportData"></td>
		</tr>
		<tr>
			<td  class="labelR">NIÑOS PREESCOLARES (3 A 5 AÑOS)</td>
			<td class="reportData"></td>
			<td  class="labelR">ASISTENTES</td>
			<td class="reportData"></td>
		</tr>
		<tr>
			<td  class="labelR">USUARIOS CON CAPACIDADES DIFERENTES</td>
			<td class="reportData"></td>
			<td  class="labelR">ASISTENTES</td>
			<td class="reportData"></td>
		</tr>
		<tr>
			<td colspan="4"><h6 class="titlecenter">VISITAS GUIADAS<h6></td>
		</tr>
		<tr>
			<td  class="labelR">NÚM. DE VISITAS GUIADAS</td>
			<td class="reportData"></td>
			<td  class="labelR">ASISTENTES</td>
			<td class="reportData"></td>
		</tr>
		<tr>
			<td colspan="4"><h6 class="titlecenter">MODULO DE SERVICIOS DIGITALES<h6></td>
		</tr>
		<tr>
			<td  class="labelR">ADULOS</td>
			<td class="reportData"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td  class="labelR">JÓVENES</td>
			<td class="reportData"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="labelR">NIÑOS</td>
			<td class="reportData"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="labelR">USUARIOS CON CAPACIDADES DIFERENTES</td>
			<td class="reportData"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="labelR">NÚMERO DE CURSOS REALIZADOS</td>
			<td class="reportData"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="labelR">ASISTENTES A LOS CURSOS</td>
			<td class="reportData"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="labelR">NÚMERO DE SUGERENCIAS BIBLIOGRAFICAS</td>
			<td class="reportData"></td>
			<td></td>
			<td></td>
		</tr>
	</table>

	<table class="table  smallText">
		<tr>
			<td  class="labelR">NÚMERO DE ACTIVIDADES LIBRO DEL MES</td>
			<td class="reportData"></td>
			<td  class="labelR" >ASISTENTES</td>
			<td class="reportData"></td>
		</tr>
		<tr>
			<td  class="labelR">OBSERVACIONES</td>
			<td colspan="3" class="reportData"></td>
		</tr>
	</table>
</div>
{% endblock %}