{% extends "book/base.html" %}
{% block title %}Usuarios{% endblock %}
{% block content %}
<div class="pagecontent">
	<div span="span6">
		<form action="/users/" method="get">
			<input id="id_filtro" name="filtro" class="span5" type="text" value="{{ filtro }}" placeholder="Nombre de usuario, Nombre de Fiador de Usuario"></input>
			<input class="btn btn-primary" type="submit" name="_btn" value="Filtrar">
			<a class="btn btn-success" href="/user/">Nuevo</a>
		</form>
	</div>
	<table class="table">
		<tr>
			<th>Id</th>
			<th>
				Nombre
			</th>
			<th>Edad</th>
			<th>
				Telefono
			</th>
			<th>
				Opciones
			</th>
		</tr>
		{% for User in Users %}
		<div id="myModal{{ User.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="myModalLabel">Seguro que Deseas Eliminar</h3>
			</div>
			<div class="modal-body">
				<h4>Al eliminar este Usuario</h4>
				<p style="color:red;">Ya no sera posible recuperar sus datos de nuevo</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal">Close</button>
				<a href="/user/delete/{{ User.id }}/" class="btn btn-primary">Estoy Seguro</a>
			</div>
		</div>
		<tr>
			<td><a href='/user/{{User.id}}'>{{User.id}}</a></td>
			<td>{{ User.name }}</td>
			<td>{{ User.age }}</td>
			<td>{{ User.phone }}</td>
			<td style="text-align:center;">
				<a href='#myModal{{ User.id}}' data-toggle="modal" class="btn btn-mini btn-danger"><i class="icon-trash"></i></a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}