{% extends "book/base.html" %}
{% block title %}Libros{% endblock %}
{% block js_code %}{% endblock %}
{% block content %}
<h2>Clacificacion</h2>
<form method="post" class="form-horizontal" action="" width="400px"  enctype='multipart/form-data'>
  {% csrf_token %}
  <br>
  {{ ClassificationForm.errors }}
  <div class="control-group">
    <label class="control-label" for="id_code">Nombre</label>
    <div class="controls">
      {{ ClassificationForm.name }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="id_code">Imagen</label>
    <div class="controls">
      {{ ClassificationForm.image }}
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn btn-primary" value="Guardar y Salir" />
    </div>
  </div>
</form>
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}