{% extends "book/base.html" %}
{% block title %}Sub Clacificaciones{% endblock %}
{% block content %}
<div class="pagecontent">
	<div span="span6">
		<form action="/loansReport/" method="get">
			<input id="id_filtro" name="filtro" class="span5" type="text" value="" placeholder="Nombre de SubClasificacion"></input>
			<input class="btn btn-primary" type="submit" name="_btn" value="Filtrar">
			<a class="btn btn-success" href="/booksubclassification/">Nueva</a>
		</form>
	</div>
	<ul class="polaroids">
		{% for SubClassification in SubClassifications %}
		<li>
			<a href='/booksubclassification/{{SubClassification.id}}' title='{{SubClassification.name}}'><img src='{{MEDIA_URL}}{{SubClassification.image}}' style="height: 150px; width: 100px; margin-top:.5em; margin-bottom:.5em;"/></a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}